body [background = "spring-0"] {background-image: url("../src/assets/webp/background/seasons/spring/0.webp");}
body [background = "spring-1"] {background-image: url("../src/assets/webp/background/seasons/spring/1.webp");}
body [background = "spring-2"] {background-image: url("../src/assets/webp/background/seasons/spring/2.webp");}
body [background = "spring-3"] {background-image: url("../src/assets/webp/background/seasons/spring/3.webp");}
body [background = "spring-4"] {background-image: url("../src/assets/webp/background/seasons/spring/4.webp");}
body [background = "spring-5"] {background-image: url("../src/assets/webp/background/seasons/spring/5.webp");}
body [background = "spring-6"] {background-image: url("../src/assets/webp/background/seasons/spring/6.webp");}
body [background = "spring-7"] {background-image: url("../src/assets/webp/background/seasons/spring/7.webp");}
body [background = "spring-8"] {background-image: url("../src/assets/webp/background/seasons/spring/8.webp");}
body [background = "spring-9"] {background-image: url("../src/assets/webp/background/seasons/spring/9.webp");}